
  <h1 class="page-header" id="transactions">
    Clients
  </h1>
<div class="jumbotron">
	<div class="body">
    	<div class="gridStyle" ng-grid="gridOptions"></div>
    	<br>
    	<a>
		<button ng-click="newClient()" type="button" class="btn btn-large btn-primary">
		  <i class='icon-user icon-large' id="plus"></i> New Client
		</button>
		</a>
  	</div>
</div>

<!--
<span class="label label-important">SMS</span>
<button class="btn btn-mini" ng-click="sendSMS(row.entity)" id="sms"><i class="icon-mobile-phone icon-mini"></i> SMS</button>
-->