<h3>Other</h3>
<form novalidate class="simple-form" name="newtransaction">
    <div class="controls">

      <h5>Description:</h5>

      <div>
        <input ui-keypress="{13:'keypressCallback($event)'}" ng-model="transaction.Description" placeholder="iPhone case" class="span3" type="text" id="other" name="description" required>
      </div>


      <h5>Amount:</h5>


        <div ng-form name="amount" class="input-prepend">
          <span class="add-on">$</span>
          <input ng-model="transaction.amount" type='number' ui-keypress="{13:'keypressCallback($event)'}" class="span5" id="appendedPrependedInput" placeholder="100.00" required min="1.00" step="1" decimal-places></input>
        </div>

        <label class="checkbox inline">
          <input type="checkbox" id="inlineCheckbox1" ng-disabled="amount.$invalid" vale='1' ng-model="tax" ng-click='toggleTax(tax)' ><small> +Tax?</small>
        </label>

          <div>
         Total Due: {{transaction.amount | currency}}
          </div>
          
        <div>
        <br>
        <label ng-form ng-init="transaction.credit='cash'" class="checkbox inline">
          <input type="radio" value="cash" ng-disabled="amount.$invalid" ng-model="transaction.credit"><small> Cash </small>
          <input type="radio" value="credit" ng-disabled="amount.$invalid" ng-model="transaction.credit"> <small> Credit Card </small>
          <input type="radio" value="check" ng-disabled="amount.$invalid" ng-model="transaction.credit"> <small> Check </small>
        </label> 
        </div>
        


      <br>
  </div>

      <!--
      <div>
        <button type="button" class="btn btn-large btn-primary" ng-click="submit()" ng-disabled="newtransaction.$invalid">
          <i class='icon-ok icon-large' id="plus"></i> Submit Transaction
        </button>
      </div>
      -->      

</form>
