<h3>Phone Sale</h3>
<form novalidate class="simple-form" name="newtransaction">
    <div class="controls">

      <h5>Model:</h5>
      <select ui-keypress="{13:'keypressCallback($event)'}" ng-model="transaction.model" name="model" ng-options="phone for phone in phones" required></select><br /> 



      <h5>Amount:</h5>

      <div class="row">

        <div class="input-prepend" ng-form name="amount">
          <span class="add-on">$</span>
          <input ng-model="transaction.amount" type='number' ui-keypress="{13:'keypressCallback($event)'}" class="span5" id="appendedPrependedInput" placeholder="100.00" required min="1.00" step="1" decimal-places></input>
        </div>

        <label class="checkbox inline">
          <input type="checkbox" ng-disabled="amount.$invalid" id="inlineCheckbox1" value="option1" ng-model="tax" ng-click='toggleTax(tax)' ><small> +Tax?</small>
        </label>

        <div>
          Total Due: {{transaction.amount | currency}}

        </div>

        <div>
        <br>
        <label ng-form ng-init="transaction.credit='cash'" class="checkbox inline">
          <input type="radio" value="cash" ng-disabled="amount.$invalid" ng-model="transaction.credit"><small> Cash </small>
          <input type="radio" value="credit" ng-disabled="amount.$invalid" ng-model="transaction.credit"> <small> Credit Card </small>
          <input type="radio" value="check" ng-disabled="amount.$invalid" ng-model="transaction.credit"> <small> Check </small>
        </label> 
        </div>



      </div>

        <br>
    
  </div>
  </form>

